<nav class="sidebar-nav navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'task_manager:index' %}">Task Manager</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_manager:index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_manager:mine-tasks' %}">Mine Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_manager:all-tasks' %}">All Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task_manager:team' %}">Team</a>
      </li>
      {% if user.is_authenticated %}
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task_manager:login' %}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
