{% extends "base.html" %}
{% block title %}
    Task Manager - Home
{% endblock %}
{% block content %}
    <div class="task-info">
        <h2>Task Overview</h2>
        <ul class="task-info__list">
            <li class="task-info__item">
                <strong>Total tasks:</strong> {{ num_tasks }}
            </li>
            <li class="task-info__item">
                <strong>Completed tasks:</strong> {{ completed_tasks }}
            </li>
            <li class="task-info__item">
                <strong>Last added task:</strong> {{ last_added_task }}
            </li>
        </ul>
    </div>
{% endblock %}
