{% extends "base.html" %}

{% block content %}
  <h1>{{ object|yesno:"Update,Create" }} Task</h1>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Submit" class="btn btn-primary">
  </form>

  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  {% for field in form %}
    {% if field.errors %}
      <div class="alert alert-danger">
        {{ field.errors }}
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}
